<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <nav>
  <a routerLink="/home">Home</a> &nbsp;
<a routerLink="/carbybrand">Buy</a>  &nbsp;
<a routerLink="/users">users</a>  &nbsp;
<a routerLink="/posts">posts</a>  &nbsp;
<a routerLink="/register">register</a>  &nbsp;
<a routerLink="/login">login</a> &nbsp; ,
<a routerLink="/register2">register2</a>   


</nav> -->

<!--
<header>
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        
        <ul class="nav-item" class="navbar-nav">
          <li><a class="navbar-brand" href="#">Contactcars</a></li>
           <li class="nav-item">
            <a class="nav-link" routerLink="/allcars">Home</a> &nbsp;
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/carbybrand">Buy</a>  &nbsp;
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav> </header> -->
  <header>
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          
          <ul class="nav-item" class="navbar-nav">
            <li><a class="navbar-brand" href="#"><img src="/assets/myimg/navbar_logo.svg"></a></li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/allcars">Home</a> &nbsp;
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/carbybrand">Buy</a>  &nbsp;
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
   
  
  
  
  
  
  </header>







<div class="container">
 
  
<router-outlet></router-outlet> 



</div>
<app-footer></app-footer>

<!-- <app-allcars></app-allcars> -->